<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4996d451-6677-4f55-b104-28330cfb16e1" Alias="columns" Level="2">
  <Info>
    <Name>Columns</Name>
    <Icon>icon-columns-4</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="7a7749ee-6936-4d58-abc5-3739e3baf293">home</Parent>
    <Compositions>
      <Composition Key="7a7749ee-6936-4d58-abc5-3739e3baf293">home</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c0fcae4d-f97c-49de-9e8c-31cb62f81fa6" SortOrder="0">item</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>