<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b61854c2-ed0c-49dd-a6a5-8236fe23952f" Alias="page" Level="2">
  <Info>
    <Name>Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="0c0cc98c-c0b1-4dda-b685-16bcd8311acd">root</Parent>
    <Compositions>
      <Composition Key="0c0cc98c-c0b1-4dda-b685-16bcd8311acd">root</Composition>
    </Compositions>
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019cd21c-04c6-73be-885d-ae728f64e982">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>