<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f8327e1c-38fa-4a74-b553-79bfcfb0e5e1" Alias="page" Level="2">
  <Info>
    <Name>page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="a581482a-9c78-44d8-a070-1e870de7f070">root</Parent>
    <Compositions>
      <Composition Key="a581482a-9c78-44d8-a070-1e870de7f070">root</Composition>
    </Compositions>
    <DefaultTemplate>page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019cd6e4-0918-7633-9de0-cfb20de478f3">page</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>