<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a68ee99a-2438-438a-b3f2-7c4412d790a5" Alias="root" Level="1">
  <Info>
    <Name>root</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>root</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019cd3a5-c9c6-797c-be93-134ca1c83a9f">root</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0a23bf42-c258-40b7-bd58-b742b3e423b2" SortOrder="0">page</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>