<?xml version="1.0" encoding="utf-8"?>
<Content Key="06a62842-946c-4537-a029-c6c7c28318b8" Alias="b party" Level="2">
  <Info>
    <Parent Key="2105a2ed-29e0-4bd1-b579-f534f692b977">Parties</Parent>
    <Path>/Parties/bParty</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2026-01-06T07:24:10</CreateDate>
    <NodeName Default="b party" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb7df59a-c2e5-4afb-92ad-f1cdb9ee632e">Item</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
  </Properties>
</Content>