<?xml version="1.0" encoding="utf-8"?>
<Content Key="14c48eba-79b3-4fb7-959d-6888a1092399" Alias="c party" Level="2">
  <Info>
    <Parent Key="2105a2ed-29e0-4bd1-b579-f534f692b977">Parties</Parent>
    <Path>/Parties/cParty</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2026-01-06T07:24:16</CreateDate>
    <NodeName Default="c party" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb7df59a-c2e5-4afb-92ad-f1cdb9ee632e">Item</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
  </Properties>
</Content>