<?xml version="1.0" encoding="utf-8"?>
<Content Key="b417881a-1e78-4f48-8203-2fe68ed40048" Alias="d" Level="2">
  <Info>
    <Parent Key="2105a2ed-29e0-4bd1-b579-f534f692b977">Columns Test</Parent>
    <Path>/ColumnsTest/d</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2026-01-06T07:24:21</CreateDate>
    <NodeName Default="d" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb7df59a-c2e5-4afb-92ad-f1cdb9ee632e">Item</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
  </Properties>
</Content>