<?xml version="1.0" encoding="utf-8"?>
<Content Key="052c8956-5fda-4726-9150-1a0dc882f0cb" Alias="Deal 2" Level="2">
  <Info>
    <Parent Key="66e2e778-085b-4a0c-8cef-7c1a97936bde">Deals</Parent>
    <Path>/Deals/Deal2</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2026-01-05T21:29:30</CreateDate>
    <NodeName Default="Deal 2" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb7df59a-c2e5-4afb-92ad-f1cdb9ee632e">Item</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
  </Properties>
</Content>