<?xml version="1.0" encoding="utf-8"?>
<Content Key="052c8956-5fda-4726-9150-1a0dc882f0cb" Alias="Test 2.2" Level="2">
  <Info>
    <Parent Key="66e2e778-085b-4a0c-8cef-7c1a97936bde">Test 2</Parent>
    <Path>/Test2/Test22</Path>
    <Trashed>false</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2026-01-05T21:29:30</CreateDate>
    <NodeName Default="Test 2.2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb7df59a-c2e5-4afb-92ad-f1cdb9ee632e">Item</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
  </Properties>
</Content>