<?xml version="1.0" encoding="utf-8"?>
<Content Key="66e2e778-085b-4a0c-8cef-7c1a97936bde" Alias="Test 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test2</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-12-22T11:33:27</CreateDate>
    <NodeName Default="Test 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
  </Properties>
</Content>