<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9ab7665-57d7-4960-aca3-4aa8e810a256" Alias="a party" Level="102">
  <Info>
    <Parent Key="2105a2ed-29e0-4bd1-b579-f534f692b977">Parties</Parent>
    <Path>/[-20]/Parties/aParty</Path>
    <Trashed Parent="2105a2ed-29e0-4bd1-b579-f534f692b977">true</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2026-01-06T07:24:04</CreateDate>
    <NodeName Default="a party" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb7df59a-c2e5-4afb-92ad-f1cdb9ee632e">Item</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
  </Properties>
</Content>