<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae265dd2-e068-4b46-827f-c5dd3ace1529" Alias="Home" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Home</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-12-22T11:05:38</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c908ddc6-55d9-4b13-aa6a-7fe56211c06d">home</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
  </Properties>
</Content>