<?xml version="1.0" encoding="utf-8"?>
<Content Key="198b3a03-f740-4451-a140-1e22fe338efb" Alias="Home (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Home1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>root</ContentType>
    <CreateDate>2026-03-09T10:19:53</CreateDate>
    <NodeName Default="Home (1)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>