<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1d9bbac-54a8-4e48-a4ef-2359a103eddb" Alias="Node 2" Level="102">
  <Info>
    <Parent Key="ae265dd2-e068-4b46-827f-c5dd3ace1529">Home</Parent>
    <Path>/[-20]/Home/Node2</Path>
    <Trashed Parent="ae265dd2-e068-4b46-827f-c5dd3ace1529">true</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2025-12-22T11:54:52</CreateDate>
    <NodeName Default="Node 2" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb7df59a-c2e5-4afb-92ad-f1cdb9ee632e">Item</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
  </Properties>
</Content>