<?xml version="1.0" encoding="utf-8"?>
<Content Key="815bb153-ea98-4e0f-b904-456efd1e3de6" Alias="Node 1" Level="102">
  <Info>
    <Parent Key="ae265dd2-e068-4b46-827f-c5dd3ace1529">Home</Parent>
    <Path>/[-20]/Home/Node1</Path>
    <Trashed Parent="ae265dd2-e068-4b46-827f-c5dd3ace1529">true</Trashed>
    <ContentType>item</ContentType>
    <CreateDate>2025-12-22T11:54:44</CreateDate>
    <NodeName Default="Node 1" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb7df59a-c2e5-4afb-92ad-f1cdb9ee632e">Item</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
  </Properties>
</Content>