<?xml version="1.0" encoding="utf-8"?>
<Content Key="418b3316-bfb9-42e8-b5c7-5321d1303009" Alias="page2" Level="102">
  <Info>
    <Parent Key="e25a8ebe-4cf8-4270-ac0d-5e17cbca8a86">Root</Parent>
    <Path>/[-20]/Root/page2</Path>
    <Trashed Parent="e25a8ebe-4cf8-4270-ac0d-5e17cbca8a86">true</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-03-10T08:37:10</CreateDate>
    <NodeName Default="page2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019cd6e4-0918-7633-9de0-cfb20de478f3">page</Template>
  </Info>
  <Properties />
</Content>