<?xml version="1.0" encoding="utf-8"?>
<Content Key="3be4c780-eda7-4741-9c9a-9d5d9e2cf889" Alias="page1" Level="2">
  <Info>
    <Parent Key="e25a8ebe-4cf8-4270-ac0d-5e17cbca8a86">Root</Parent>
    <Path>/Root/page1</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-03-10T08:37:03</CreateDate>
    <NodeName Default="page1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019cd6e4-0918-7633-9de0-cfb20de478f3">page</Template>
  </Info>
  <Properties />
</Content>