<?xml version="1.0" encoding="utf-8"?>
<Content Key="68f1dd03-e7ca-424d-9a74-8878c24b831c" Alias="Page 2" Level="2">
  <Info>
    <Parent Key="198b3a03-f740-4451-a140-1e22fe338efb">Home</Parent>
    <Path>/Home/Page2</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-03-09T10:20:12</CreateDate>
    <NodeName Default="Page 2" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019cd6e4-0918-7633-9de0-cfb20de478f3">page</Template>
  </Info>
  <Properties />
</Content>