<?xml version="1.0" encoding="utf-8"?>
<Content Key="2105a2ed-29e0-4bd1-b579-f534f692b977" Alias="Parties" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Parties</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>columns</ContentType>
    <CreateDate>2026-01-06T07:23:57</CreateDate>
    <NodeName Default="Parties" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
  </Properties>
</Content>