<?xml version="1.0" encoding="utf-8"?>
<Content Key="e25a8ebe-4cf8-4270-ac0d-5e17cbca8a86" Alias="Root" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Root</Path>
    <Trashed>false</Trashed>
    <ContentType>root</ContentType>
    <CreateDate>2026-03-10T08:36:52</CreateDate>
    <NodeName Default="Root" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>