<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c72728f-8436-417a-91ea-6432914ff1fe" Alias="sdfgsd" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/sdfgsd</Path>
    <Trashed>false</Trashed>
    <ContentType>root</ContentType>
    <CreateDate>2026-03-09T17:30:11</CreateDate>
    <NodeName Default="sdfgsd" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019cd3a5-c9c6-797c-be93-134ca1c83a9f">root</Template>
  </Info>
  <Properties />
</Content>