<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9c9c54d-ab65-4cf8-bbbb-e454a09b75f1" Alias="Test 3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Test3</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-12-22T11:33:34</CreateDate>
    <NodeName Default="Test 3" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c908ddc6-55d9-4b13-aa6a-7fe56211c06d">home</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[umb://document/e9c9c54dab654cf8bbbbe454a09b75f1]]></Value>
    </content>
  </Properties>
</Content>