<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9c9c54d-ab65-4cf8-bbbb-e454a09b75f1" Alias="Test 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test3</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-12-22T11:33:34</CreateDate>
    <NodeName Default="Test 3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[umb://document/e9c9c54dab654cf8bbbbe454a09b75f1]]></Value>
    </content>
  </Properties>
</Content>